*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
section{
    padding-top: 30px;
    padding-bottom: 30px;
}
img{
    display: block;
    object-fit: cover;
    width: 100%;
}
.line{
    width: 100px;
    height: 4px;
    background-color: var(--bs-sky-blue);
}
.long-line{
    height: 3px;
    background-color: var(--bs-sky-blue);
}
.long-line-bold{
    height: 10px;
    margin-bottom: 2px;
    background-color: var(--bs-sky-blue);
}
.btn-primary{
    background-color: var(--bs-sky-blue) !important;
    border: 0px !important;
    width: 100%;
}
.btn-primary:hover{
    background-color: var(--bs-headings) !important;
}
.common{
    display: flex;
    align-items: center;
}
:root{
    --bs-black: #000;
    --bs-dark: #a1a1a1;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-headings: #081f5c;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary-white: #e3edf7;
    --bs-dark-red: #840c24;
    --bs-sky-blue: #0099d3;
    --bs-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.15),
    -3px -3px 3px 1px rgba(0, 0, 0, 0.15);
}
body{
    color: var(--bs-dark)!important;
    background-color: var(--bs-primary-white)!important;
    overflow-x: hidden;
}
.top-contact {
    height: 2.4rem;
    background-color: var(--bs-gray-900);
    margin-bottom: 1rem ;
}
.top-contact p{
    margin: 0!important;
    color: var(--bs-gray-500);
}
.top-contact, .top-socials{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    /* color: rgb(56, 50, 88); */
    font-size: small;
    align-items: center;
}
.top-socials{
    gap: 1rem;
    font-size: small;
    color: var(--bs-gray-500);    
}
/* --------- */
/* nav h3{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
nav a{
    text-decoration: none;
    color: var(--bs-gray-100);
    font-size: large;
    font-weight: 500;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: var(--bs-sky-blue);
    margin-top: .4rem;
    padding: 2rem !important;
    color: #f8f9fa;
}

nav ul{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin: 0;
} */

/* =============================== */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: var(--bs-sky-blue);
    margin-top: .4rem;
    padding: 2rem !important;
    color: var(--bs-white);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}

.nav-link{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin: 0;
}
.toggle_btn i{
    font-size: xx-large;
    display: none;
    color: rgb(250, 250, 252);
}

nav a{
    text-decoration: none;
    color: var(--bs-gray-100);
    font-size: large;
    font-weight: 500;
}

.nav-link a:hover{
    color: var(--bs-warning);
    transition: all 100ms ease;
}

nav h3 a{
    font-weight: bold !important;
    font-size: 2rem !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* =====================DROPDOWN NAV.===================== */
.dropdown_menu{
    background: var(--bs-sky-blue);
    display: none;
    position: absolute;
    right:2rem;
    top: 115px;
    height: 0;
    width: 200px;
    /* border-radius: 10px; */
    overflow: hidden;
    /* position: fixed; */
    z-index: 11;
    transition: height 0.5s ease;
}

.dropdown_menu.open{
    height: 250px ;
}

.dropdown_menu li{
    text-align: center;
    gap:1rem;
    padding: 0.7rem;
}

.dropdown_menu a:hover{
    color: rgb(255, 247, 0);
    text-shadow: 25%;
    font-size: large;
}

.dropdown_menu li:hover{
    background-color: rgb(65, 65, 140);
    transition: all 100ms ease;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.dropdown_menu a{
    color: var(--bs-white);
    text-decoration: none;
}
/* =====================RESPONSIVE============================= */
@media (max-width:769px)  {
    .nav--container .nav-link{
        display: none !important;
        flex-direction: column;
        padding: 7px;
        gap: 5px;
        border: 0px;
        justify-content: right;
        text-align: left;
    }

    .dropdown_menu{
        display: block;
        top:96px;
        right: 1.5rem;
    }

    .nav--container i{
        display: block;
        cursor: pointer;
    }

}
@media (max-width:576px){
    nav{
        border-radius: 0;
        margin: 0;
        height: 2.2rem;
        padding: 1rem !important;
    }
    .toggle_btn i{
        font-size: 25px;
    }
    .top-contact{
        margin: 0;
        font-size: 10px;
        height: 2rem;
    }
    .dropdown_menu{
        display: block;
        top:60px;
        right: 0;
    }
    nav h3 a{
        font-weight: 700 !important;
        font-size: 20px !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    }
}
@media (max-width:377px){
    .dropdown_menu{
        left: 0;
        right: 0;
        width: unset;
        border-radius: none;
    }
   

}
/* ------------------------------------ */
.hero-card{
    padding: 16px;
    display: flex;
    align-items: center;
}
.hero-card-content h2{
    color: var(--bs-headings);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-card-content h4, p{
    color: rgb(56, 50, 88);
}

.hero-img{
    box-shadow: var(--bs-shadow);
    border-radius: 10px;
}
.hero-img img{
    height: 450px;
    border-radius: 10px;
}
.hero-card-content{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

/* -------------------------------------------------- */
.hero-right-card{
    margin-bottom: 10px;
    
}
.hero-right-card h5{
    color: var(--bs-headings);
    font-weight: 700;
}
.hero-right-card p{
    line-height: 1.5;
    font-size: 13px;
}
.hero-right-card a{
    text-decoration: none;
}
.right-card{
    padding: 10px;
    background-color: #cfd9e4;
    border-radius: 10px;
    line-height: 1;
}
.right-card img{
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.right-card img:hover{
    transition: all 1000ms ease;
}
/* ------------------------------------ */
/* .carousel-item{
    
} */
.page-ribbon{
    /* display: flex; */
    /* justify-content: space-between; */
    /* height: 3rem; */
    background-color: var(--bs-sky-blue);
    align-items: center;
    color: var(--bs-white);
    margin-bottom: 2rem;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.robbon-scroll{
    display: flex;
    justify-content:space-between ;
    /* gap: 20px !important; */
    overflow: hidden;
    /* background-color: #495057; */
    animation: scroll-x  linear 50s infinite;
    width: 4150px;
    align-items: center;
    /* white-space: nowrap; */
}
@keyframes scroll-x {
    from {
        transform: translateX(100%);
        transition-delay: 1s;
        transition-duration: 1s;
    }
    to {
        transform: translateX(-100%);
    }
}
.robbon-scroll h6 i{
    font-size: larger!important;
}
.quote-text{
    font-size: small;
    line-height: 1.3;
    font-style: italic;
    /* margin-top: 1rem; */
    padding: 13px;
    color: var(--bs-primary-white)!important;
    /* background-color: #0099d3; */
}
.quote{
    background-color: #6c757d;
    border-radius: 10px;
    height: 120px;
    margin-top: 2rem;
    position: relative;
    /* bottom: 3%; */
    /* left: 5%; */
    /* right: 55%;  */
    border: 2px solid var(--bs-sky-blue);
}
.hero-card-content .quote .quote-avatar img{
    border-radius: 50%;
    height: 100%;
}
.hero-card-content .quote .quote-avatar{
    height: 50px;
    width: 50px;
    background-color: #0099d3;
    position: absolute;
    left: 45%;
    bottom: -25%;
    border-radius: 50%;
    border: 2px solid var(--bs-sky-blue);
}
.carousel-inner img{
    height: 380px;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.553);
}
.carousel-caption p{
    color: #fff;
}
/* .............. */
.trends h3{
    color: var(--bs-headings);
    font-weight: 700;
}
.trends p{
    line-height: 1.4;
}

/* ------------------- */

/* .ads{
    padding: 14px;
    background-color: var(--bs-gray-100);
    line-height: 1.2;
    font-size: 14px;
     box-shadow: var(--bs-shadow); 
} */
.ads img{
    width: 100%;
    height: 200px;
    border-radius: 6px;
}
/* .ads h6{
    color: var(--bs-headings);
    top: 10px;
    font-weight: 700;
} */
/* --------------------- */
.politica-career h1, h2{
    color: var(--bs-headings) !important;
    font-weight: 700;
}
.politics {
    background-color: var(--bs-gray-500);
    padding: 16px;
    height: 460px;
    
}
.politics img{
    height: 190px;
    width: 160px;
    /* border-radius: 10px; */
}
.p-card{
    box-shadow: var(--bs-shadow);
    /* padding: 10px; */
    background-color: var(--bs-gray-200);
    line-height: 1.3;
    justify-content: space-between;
    border-radius: 8px;
}
.p-card a{
    color: var(--bs-headings);
    font-weight: 700;
    text-decoration: none;
}
.p-card p{
    font-size: 14px;
}
/* ..................... */
.p-card-right{
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    border-radius: 10px;
    /* box-shadow: var(--bs-shadow); */
}
.p-card-right img{
   border-radius: 10px;
   height: 200px;
   /* width: 100%; */
}
.p-card-right img:hover{
    transform: scale(1.1);
    transition: all 1000ms ease;
}
.p-card-right-txt{
    background-color: rgb(0, 64, 88);
    position: absolute;
    /* top: 0; */
    bottom: 0;
    color: var(--bs-white);
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* visibility: hidden; */
}
.p-card-right-txt:hover{
    visibility: visible;
}
.p-card-right-txt h4{
    font-weight: 500;
}
.p-card-right-txt p{
    color: var(--bs-white);
}
/* ----------------------------- */

.info{
    height: 60vh;
    margin-top: 70px;
    /* padding: 20px; */
}
.info-card{
    height: 300px;
    background-color: var(--bs-sky-blue);
    width: 80%;
    border-bottom-right-radius:200px ;
    border-top-right-radius:200px ;
    display: flex;
    align-items: center;
    gap: 0px;
}
/* ...... */
.info-avatar{
    text-align: center;
    font-size: small;
    flex-direction: column;
    
}
.info-avatar img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid var(--bs-gray-100);
}
/* --------------- */
.center-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
}
.business{
    flex-direction: row;
}
.m_card{
    display: flex;
    flex-direction: column;
    background-color: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0, 0.15),
                -6px -6px 10px 1px rgba(0,0,0, 0.15);
    padding: 16px;
    margin-top: 10px;
}
.m-card-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;

    margin-bottom: 10px;
}
.m-card-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.m-card-txt{
    text-align: center;
    /* font-size: small; */
    color: #6e6868;
    line-height: 1.4;
}
.m-card-txt h6{
    margin-bottom: 1px;
    font-size: small;
}
.m-card-txt p{
    margin-top: 8px;
    font-size: small;
}

@media (min-width:374px) and (max-width:575.98px) {
    .col_m-card{
        width: 330px !important;
    }
    .row{
        display: flex ;
        flex-direction: column;
        align-items: center;
    }
}